<!DOCTYPE html>
<html>
<head>
  <title>Flask-SSE Quickstart</title>
</head>
<body>
  <h1>Flask-SSE Quickstart</h1>
  <script>
    var source = new EventSource("http://localhost:5000/stream");
    source.addEventListener('update_process', function(event) {
        var data = JSON.parse(event.data);

        console.log(event.data)
    }, false);
     source.addEventListener('update_job', function(event) {
        var data = JSON.parse(event.data);

        console.log(event.data)
    }, false);
    source.addEventListener('error', function(event) {
        alert("Failed to connect to event stream. Is Redis running?");
    }, false);
  </script>
</body>
</html>